/* General styles */
body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

form {
	margin: 20px auto;
	width: 80%;
	max-width: 600px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"] {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
	form {
		width: 100%;
	}
}


p {
	margin-bottom: 5px;
	font-weight: bold;
	text-align: center;
}