<!DOCTYPE html>
<html>
<head>
	<title>Wafer Fault Detection</title>

	<link rel="stylesheet" type="text/css" href="static/css/stylepred.css">

</head>
<body>
	<h1>Wafer Fault Detection Project</h1>
	
    <h2>Training is Successful...</h2>
	<!-- Add form for user input of folder path -->
	<form action="/predict" method="post" onsubmit="showNewParagraph()">
		<label for="folderPath">Enter the path of the folder containing the prediction wafer files</label><br>
		<input type="text" id="filepath" name="filepath" placeholder="Enter prediction file path.."><br><br>
		<input type="submit" value="Submit">
    </form>
    
	<p id="new-paragraph" style="display:none;">Prediction is in progress.Please wait...</p>
	  


	
	<script>
	function showNewParagraph() {
		var newParagraph = document.getElementById("new-paragraph");
		newParagraph.style.display = "block";
	}
	</script>
	
</body>
</html>
